body {
  margin: 0;
}

#__next {
  padding: 20px 15px;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  text-align: center;
  img {
    height: 50px;
  }
}

.teams-nav {
  .MuiGrid-item {
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
  }
}

.stats {
  .stat {
    margin-top: 20px;
  }
}

.MuiPaper-root table {
  thead {
    th {
      text-align: center;
    }
  }
  tbody {
    td {
      padding: 10px 5px;
      text-align: center;
    }
    td.name {
      text-align: left;
      color: #0d47a1;
      font-weight: 600;
      a {
        display: flex;
        align-items: center;
        color: #0d47a1;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}