{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "eol-last": ["error", "always"],
    "semi": ["error", "never"],
    "no-undef": 0,
    "@typescript-eslint/explicit-function-return-type": [0],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "react/prop-types": [0],
    "react/react-in-jsx-scope": 0
  },
  "env": {
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}